@import 'modern-css-reset';
@import './variables.css';

:root {
  -webkit-font-smoothing: antialiased;
  color-scheme: dark;
  font-family: system-ui, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  background-color: var(--color-bg);
  color: var(--color-text);
}

body {
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
}

#app {
  padding: 40px 60px;
}

#greeting {
  margin-bottom: 8px;
}

#clock {
  font-size: 12px;
  opacity: 0.7;
}
