/*
 * TODO: Update COPYRIGHT_TEXT in stylelint.config.ts, then run `pnpm fix`.
 */

@import 'modern-css-reset';
@import './theme.css';
@import './variables.css';

:root {
  font-family: var(--font-ui);
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-text);
  background-color: var(--color-bg);
  -webkit-font-smoothing: antialiased;
}

body {
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
}

#app {
  padding: 2.5rem 3.75rem;
}

#greeting {
  margin-bottom: var(--space-sm);
}

#clock {
  font-size: var(--font-size-s);
  opacity: 0.7;
}
